@model FarmManager.Models.Inputuri

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Inputuri</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tip" class="control-label"></label>
                <input asp-for="Tip" class="form-control" />
                <span asp-validation-for="Tip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producator" class="control-label"></label>
                <input asp-for="Producator" class="form-control" />
                <span asp-validation-for="Producator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitateDeMasura" class="control-label"></label>
                <input asp-for="UnitateDeMasura" class="form-control" />
                <span asp-validation-for="UnitateDeMasura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantitateUm" class="control-label"></label>
                <input asp-for="CantitateUm" class="form-control" />
                <span asp-validation-for="CantitateUm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PretUm" class="control-label"></label>
                <input asp-for="PretUm" class="form-control" />
                <span asp-validation-for="PretUm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
